<% provide(:title, "Contact Us") %>

<h2>Send us a message</h2>

<p>Have a question? Send us a note using the form below and someone from the team will be in touch soon.</p>

  <%= form_for @contact, :html => {:class => '' } do |f| %>
    <div class="row">
      <div class="col-md-5">
        <h3>Name:</h3>
        <%= f.text_field :name, :required => true, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h3>Email:</h3>
        <%= f.email_field :email, :required => true, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h3>Message:</h3>
        <%= f.text_area :message, :as => :text, :required => true, size: "30x5", class: 'form-control' %>
      </div>
    </div>
    <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="row">
      <div class="col-md-5">
      <%= f.submit "Send message", class: "btn btn btn-success btn-raised" %>
      </div>
    </div>
  <% end %>
