<!DOCTYPE html>
<html>
	<head>
	  <title> <%= yield :title %> | Albanian Hiking Club </title>

		<!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>

	  <!-- Latest compiled and minified Bootstrap CDN -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->


	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <!--[if lt IE 9]>
	    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	    </script>
	  <![endif]-->
	</head>
	<body>
		<header class="navbar navbar-warning navbar-fixed-top">
			<div class="container">
		    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" id="logo" href="javascript:void(0)">Albanian Hiking Club</a>
		    </div>
		    <div class="navbar-collapse collapse navbar-warning-collapse">
	        <ul class="nav navbar-nav">
						<li><%= link_to "Home", root_path %></li> 
						<li><%= link_to "About", static_pages_about_path %></li> 
						<li><%= link_to "Calendar", static_pages_calendar_path %></li> 
						<li><%= link_to "Hikes", static_pages_hikes_path %></li> 
						<li><%= link_to "Membership", static_pages_membership_path %></li> 
						<li><%= link_to "Pictures", static_pages_pictures_path %></li>
						<li><%= link_to "Contact", static_pages_contact_path %></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Sign Up", "#" %></li> 
						<li><%= link_to "Log In", "#" %></li> 
	        </ul>
		    </div>
		  </div>
		</header>

		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
